{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}

<br>
<a style="width:100%;" href="index.html">
    <h1 style="color: white; font-size:220%; margin-bottom:0px;">TrustOS</h1>
</a>
<img style="background:none; margin: auto;  margin-top:-30px; margin-bottom:-30px; width:70%; height:95%;" alt="Telefónica"
    src="{{ pathto("_static/images/telefonica_whitelogo.png", 1) }}" />

<!-- 
<a href="https://github.com/hyperledger/fabric"></a>
&nbsp;<a href="https://stackoverflow.com/questions/tagged/hyperledger-fabric"><img style="padding: 0px; margin: auto auto auto auto;" alt="StackOverflow" src="{{ pathto("_static/images/stackoverflow_button.png", 1) }}"/></a>
&nbsp;<a href="https://chat.hyperledger.org"><img style="padding: 0px; margin: auto auto auto auto;" alt="Rocket Chat" src="{{ pathto("_static/images/rocketchat_button.png", 1) }}"/></a>
&nbsp;<a href="https://www.youtube.com/playlist?list=PL0MZ85B_96CH7wvtrRzV7SvtRY0sI0DEg"><img style="padding: 0px; margin: auto auto auto auto;" alt="Youtube Channel" src="{{ pathto("_static/images/youtube_button.png", 1) }}"/></a> -->

{% endblock %}